[2019-01-31 07:55] chanlito opened #4 "How is graphql-toolkit different from graphql-import?"
https://github.com/prisma/graphql-import seems to do similar things.

[2019-02-02 18:32] estrada9166 opened #7 "Load JSON schema without data"
I was reading the source code and I have a question, I found that [this](https://github.com/dotansimha/graphql-toolkit/blob/master/src/loaders/schema/schema-from-export.ts#L50) will not work if the JSON schema doesn't have the key `data` like for example [this](https://raw.githubusercontent.com/octokit/graphql-schema/master/schema.json) schema used on GitHub.

If you want I can work on that!

[2019-02-05 04:18] estrada9166 opened #11 "Set an array of schemas"
It's possible to set an array of schemas? something like [this](https://github.com/okgrow/merge-graphql-schemas#manually-import-each-type)

Thanks!

[2019-02-12 08:09] dotansimha commented on #11
@estrada9166 why not?
Please take a loot at the epoxy API: https://github.com/ardatan/graphql-toolkit/blob/master/src/epoxy/schema-mergers/merge-schema.ts#L25 , it accept an array.

[2019-02-12 08:09] #11 closed

[2019-02-20 14:18] dimitar-nikovski opened #25 "Loading schema from type definitions passes a promise as the source argument to parse from graphql-js"
Hi,

I am attempting to generate types using `graphql-code-generator` and a .graphql file.

This calls: => the respective loader from this package => and then  when `extractDocumentStringFromCodeFile `is called [here](https://github.com/ardatan/graphql-toolkit/blob/75d576c236432cbc408dc076889861ef5d2f3410/src/loaders/schema/schema-from-typedefs.ts#L27) it returns a Promise, whereas if it were to r

[2019-02-22 15:04] mikejewell opened #27 "Load schema from introspection assumes that schemaOptions is non-null"
The following line fails if schemaOptions is 'null' (Cannot read property 'headers' of null) - it could be fixed by the caller, but should probably be handled in here too:

https://github.com/ardatan/graphql-toolkit/blob/master/src/loaders/schema/introspection-from-url.ts#L18

[2019-02-26 17:58] kamilkisiela commented on #25
@dimitar-nikovski Could you create a test for it?

I tried here https://github.com/ardatan/graphql-toolkit/pull/31 but it seems to work fine

[2019-03-05 10:55] dotansimha opened #42 "Missing peer dependency for `graphql-tools`"
It's in use, and declared only as dev dependency.

[2019-03-07 08:54] #42 closed

[2019-03-07 09:08] dotansimha commented on #27
Fixed in 0.2.1!

[2019-03-07 09:08] #27 closed

[2019-04-03 06:15] #25 closed

[2019-04-09 16:29] koenpunt opened #83 "Enhancement: Warn when SchemaFromExport finds a matching file, but doesn't export the schema in the right way."
When trying to use a `.ts` file for loading the schema I found it was very difficult to see why it was not working.

Initially this was because I didn't add `ts-node` to the `require` array. But the error just showed me that the glob wasn't matching any files, which was confusing.
Before knowing I needed the require, I tried changing the file to export a function, instead of the schema directly.
W

[2019-04-21 16:19] darkbasic commented on #83
Can you please upload the faulty repo along with the glob pattern you're using?

[2019-04-21 16:20] darkbasic commented on #83
Btw, are you using 0.2.9 right?

[2019-04-22 00:06] koenpunt commented on #83
There isn't really a faulty repo. I experienced the behavior through `graphql-code-generator`, and while stepping through the code to figure out why my files were not being loaded, I noticed that it was actually finding my ts file, but then skipped it because it wasn't exporting the schema correctly.

I've created a PR with where I think a warning should be triggered; https://github.com/ardatan/gr

[2019-04-22 22:03] svengau opened #88 "Unreadable error with resolversComposition when resolver is not defined"
Hello,

I've used resolversComposition on graphql-modules with 1 directive @auth:

[code]
and got the following error when starting the graphQL server:

hard to figure it out with this message, but it was simply because one resolver (updatePost) was not defined.

it would be nice to throw a more explicit Error in resolvers-composition.ts function resolveRelevantMappings, or maybe to check if the r

[2019-05-03 09:44] darkbasic commented on #83
Please see me comment on your PR.
I need to understand the context of what you are trying to achieve and how do you expect it to behave.
An repro would help alot to let me understand what's you issue.

[2019-05-05 11:05] dotansimha opened #96 "Sonar skips files with multiple extensions"
For example: `a.b.c.resolver.ts` is not getting loaded using `loadResolversFiles`

[2019-05-09 15:54] alx13 opened #100 "epoxy out of memory when merging directives"
I'm trying to use directives in GraphQLModules, but when I'm typing directive like:
[code]
I'm getting OOM
[code]

If I'm not using array in directive definition, everything works fine:
[code]

It's stacking really fast in here: https://github.com/ardatan/graphql-toolkit/blob/master/src/epoxy/typedefs-mergers/directives.ts#L24
when GraphQLModules dependencies tree is large.
Maybe we should not con

[2019-06-04 06:25] kamilkisiela opened #116 "Typescript complains about missing @types/glob"
https://github.com/ardatan/graphql-toolkit/blob/30b6fa933c62c33b576da9cb3d53e86a6c1c356f/package.json#L30

Should be in `dependencies`, otherwise people need to install it in their projects.

[2019-06-07 12:42] kamilkisiela commented on #100
https://github.com/ardatan/graphql-toolkit/pull/119 should fix it

[2019-06-11 16:53] kamilkisiela commented on #100
@alx13 do you have or could create a small reproduction? Something I could test myself if it's solved

[2019-06-13 09:32] alx13 commented on #100
@kamilkisiela
Hi, I made a test repository: https://github.com/alx13/graphql-modules-issues-472

[2019-06-13 10:59] kamilkisiela commented on #100
#506 should fix it

[2019-06-13 11:01] kamilkisiela commented on #100
@alx13 https://github.com/alx13/graphql-modules-issues-472/pull/1

[2019-06-13 11:20] alx13 commented on #100
Working, thanks!

[2019-06-15 05:44] yo7 opened #127 "TypeScript definition file seems to have wrong extension"
`.d.ts` file renamed to `.d.graphql` in the commit https://github.com/ardatan/graphql-toolkit/commit/7c4ada2b44073fd88c27289793980a95f108be38

I don't understand why this change was necessary, but this change causes problem in `@graphql-codegen/cli@1.2.1` which depends on `graphql-toolkit@0.2.14` (which is not the case with `@graphql-codegen/cli@1.2.0` which depends on `graphql-toolkit@0.2.12`).

[2019-06-21 16:43] ardatan commented on #127
Thank you @yo7 !

[2019-06-24 06:30] kamilkisiela commented on #100
Released as 1.3.0

[2019-06-24 06:50] #100 closed

[2019-06-24 06:50] #127 closed

[2019-07-01 23:20] #83 closed

[2019-07-01 23:55] #116 closed

[2019-07-01 23:56] ardatan commented on #116
Fixed in 0.3.1!

[2019-07-01 23:56] ardatan commented on #96
Fixed in 0.3.1!

[2019-07-01 23:56] #96 closed

[2019-07-01 23:56] ardatan commented on #88
Fixed in 0.3.1!

[2019-07-01 23:56] #88 closed

[2019-07-15 09:52] dotansimha opened #166 "Change loadSchema architecture and make it easier to load schemas?"
At the moment, we support multiple inputs, and load the schema out of it. But in case of schema that written in `.graphql` AND `.ts` files, it won't work.

I think we need to have the following:
- `loadSchema` should accept a string, which is either a `glob` expression (for multiple files, or a single file) or a path string, url with AST.
- If the `string` is AST, we should build it and return `Do

[2019-07-15 14:16] Aliaksei-Martsinkevich opened #167 "Wrong windows path resolution"
When loading schema from relative path like `schema.js` on Windows machine, it resolved into `C:\abs\path\to\schema.js`. [here](https://github.com/ardatan/graphql-toolkit/blob/master/src/loaders/schema/schema-from-export.ts#L43). When this string is passed to `require`, it leads to following `\a`, `\p` and so on are processed as escape character, and `\p` = `p`. So path becomes `C:abspathtoschema.

[2019-07-17 16:18] #167 closed

[2019-07-17 16:18] ardatan commented on #167
Available since 0.4.0

[2019-07-18 11:49] Urigo opened #175 "Separate loaders code to order dependencies and lower bundle size"

[2019-07-21 17:22] #166 closed

[2019-07-22 03:47] jlkiri opened #180 "Inject custom fetcher for URL loaders"
As far as I can see, with new release, `graphql-toolkit` now uses `cross-fetch` library instead of `request` for making http requests. This (indirectly) makes it impossible to use newer versions of `graphql-code-generator` behind a proxy, because `cross-fetch` does not respect the HTTP_PROXY environment variable.

It would be nice if `graphql-toolkit` allowed for injection of custom fetching funct

[2019-07-22 05:49] ardatan commented on #180
Until this gets solved, does this work for you?
https://github.com/gajus/global-agent

[2019-07-31 09:12] kamilkisiela commented on #180
Related #190

[2019-07-31 09:27] kamilkisiela commented on #180
`v0.5.0` is now out

[2019-07-31 09:27] #180 closed

[2019-08-01 13:01] jlkiri commented on #180
Thank you!

[2019-08-07 16:59] le0nik opened #201 "Invalid issue"
Invalid issue

[2019-08-08 23:31] #201 closed

[2019-08-10 21:18] jsphweid opened #204 "problem loading complete schema from gql literal"
consider a file like this:
[code]

graphql-toolkit will not parse this correctly. It will pick up on the Review type but nothing from the import. The way to get this to work would be to move Review to another file and import both like

[code]

It ain't that big of a deal but it seems like this should work. I forked to write a test showing the failure but didn't architect a solution yet. https://gi

[2019-08-11 05:08] dotansimha commented on #204
Hi @jsphweid !
The load-from-ast loader is not evaluating your file, and only loads is as string, without running `require`. It's an optimization that intended to reduce file loading and file executions.
You can use add your other files and load them as well: `loadTypedefs(['./schema.ts', './graphql-tag.ts'])`

[2019-08-15 13:53] #204 closed

[2019-09-05 15:25] jbaranski opened #231 "fixWindowsPath change breaks tryToLoadFromExport on windows"
`fixWindowsPath` use to change `\` to `/` on windows file paths, but now it converts `\` to `\` (is it a mistake?).

When `tryToLoadFromExport` receives a file path, the statement `const rawExports = await eval(`require('${filePath}');`);` blows up because of the back slashes on windows file paths, if a forward slash is used (like it use to a few days ago) it works fine.

Can you please take a loo

[2019-09-15 19:45] maapteh opened #248 "ts errors, less only two left in latest package which is used in core"
still:
[code]

typescript: 3.6.3

in the previous version (before 0.5.13) it gave something like 16 errors, but now 2 i got the reference from @graphql-modules 0.7.12

[2019-09-16 10:30] austinChappell commented on #248
I am seeing the same errors.

[2019-09-17 09:10] maapteh commented on #248
Solved using latest typescript version, thanks for debugging @ardatan !

[2019-09-17 09:10] #248 closed

[2019-09-19 05:10] #231 closed

[2019-10-03 13:29] SoyYoRafa opened #259 "0.5.16 breaks node 8 compatibility"
Hi,
The latest release is using `for await` which is not available in node 8. node 8 is in still in LTS until January 2020. Would it be possible to revert back that syntax usage?

This could be as simple as bumping down the `tsconfig.json` target to `es2017`.

[2019-10-03 14:15] jbaranski opened #260 "tryToLoadFromExport doesn't work on Windows when the require.cache case evaluates to true"
#231 fixed one issue but now I'm seeing another on Windows.

When `rawFilePath` comes in to `tryToLoadFromExport` it has linux style absolute file path (that's good because `await eval(`require('${filePath}');`);` needs linux style absolute path even on Windows).

The problem is when the `require.cache` case is hit this code converts the `filePath` back to Windows style absolute file path and the

[2019-10-03 14:16] jbaranski commented on #231
If you're still having trouble on Windows see #260.

[2019-10-04 07:51] janhartmann commented on #259
Yes, currently hitting this issue as well:

[code]

[2019-10-04 15:40] ecwyne commented on #259
Same ☝️

[2019-10-04 16:07] ecwyne commented on #259
For those using Zeit Now, upgrading to Node 10 was an easy fix for now. https://zeit.co/blog/node-10

[2019-10-04 16:31] jsphweid commented on #259
Yes, would appreciate a fix. CI for our api can't go through until a platform team upgrades node versions now... and that doesn't happen instantly.

[2019-10-04 17:47] ardatan commented on #259
Could you try with `0.5.17-ddafc4c.0`?

[2019-10-04 17:47] ardatan commented on #260
Could you try with `0.5.17-ddafc4c.0`?

[2019-10-04 20:54] mdlavin commented on #259
Using yarn's package.json feature:

[code]

fixes the problem for me.

[2019-10-05 00:02] ardatan commented on #259
@mdlavin Sounds good!

[2019-10-10 13:58] svogl opened #272 "broken on Ubuntu/bionic"
Ubuntu/bionic still uses nodejs 8.11 which does not support `for await`
This line breaks our build environment which indirectly depends on this package:

https://github.com/ardatan/graphql-toolkit/blob/d16ead52872c2dbe83408b3c5dd11202900e0bec/src/loaders/load-typedefs.ts#L138

[2019-10-10 15:31] ardatan commented on #272
It is the same issue which has been fixed already;
https://github.com/ardatan/graphql-toolkit/issues/259
So if you want to use it before the release, you can use canary version;
`0.5.17-d16ead5.0`

[2019-10-10 15:31] #272 closed

[2019-10-10 19:36] svogl commented on #272
great -- didn't see this fix yet. thanks!
Simon

[2019-10-14 07:25] dotansimha commented on #260
@jbaranski ?

[2019-10-14 09:42] elincognito commented on #260
Hi @dotansimha @ardatan

I am running on windows and having issues
with the imports

``` Unable to load from file "C:\\Users\\Utilizador\\Desktop\\radum-backend-2\\src\\schema.ts": Cannot find module 'C:UsersUtilizadorDesktop\radum-backend-2srcschema.ts'\n```

Utilizador is my user name on windows, as you can see some path separators are being swallowed

the problem goes away if i replace

``` con

[2019-10-14 15:05] jbaranski commented on #260
@dotansimha @ardatan What `graphql-code-generator` version should I use. That's the tool I'm using and this is a transitive dependency there.

[2019-10-14 15:09] jbaranski commented on #260
@elincognito I reported that issue under https://github.com/ardatan/graphql-toolkit/issues/231, and it was addressed with the latest version but I had a lingering issue which I reported here.

[2019-10-15 06:19] dotansimha commented on #260
Fixed in v0.5.17

[2019-10-15 06:19] #260 closed

[2019-10-15 06:19] dotansimha commented on #259
Fixed in v0.5.17

[2019-10-15 06:19] #259 closed

[2019-10-24 01:38] #175 closed

[2019-10-31 12:34] jbaranski commented on #260
This still doesn't work. I'm using `@graphql-codegen` tooling at `1.8.2`.

[2019-10-31 20:05] nsine opened #302 "Compilation error after upgrade to v0.6.2"
Hey guys 👋

Recently we upgraded `graphql-toolkit` version from 0.5.18 to 0.6.2. And now when compiling our Typescript project I see the next error:
[code]

Node v12.3.1
Typescript v3.6.4

[2019-10-31 23:24] ardatan commented on #302
@nsine Could you try it with `0.6.5-alpha-b454c32.5+b454c32` canary version?

[2019-11-01 06:30] ardatan commented on #302
Fixed in 0.6.5!

[2019-11-01 06:30] #302 closed

[2019-11-01 09:57] nsine commented on #302
thanks for the quick update!
seems to be fixed 🎉🎉

[2019-11-04 13:58] ehmicky opened #308 "Why are `require()` calls wrapped in `eval()`?"
Why are dynamic `require()` calls [wrapped in `eval()`](https://github.com/ardatan/graphql-toolkit/blob/e6acc231db1b6ac1a11aec33a1ddf55f0f45337e/packages/loaders/code-file/src/extract-document-string-from-code-file.ts#L52)?

Is this to fix a TypeScript type issue?

This creates [an issue on Netlify Functions](https://github.com/netlify/zip-it-and-ship-it/issues/66). Netlify Functions crawl Node mo

[2019-11-04 14:11] ardatan commented on #308
Hi @ehmicky,
When you have a compiler or bundler that modifies `require` like webpack or rollup, it would become a problem. For example, webpack marks it as a critical dependency and puts there its own `require` which prevents to load external modules there. That's why, we needed that trick to avoid this.

[2019-11-04 14:30] ehmicky commented on #308
Thanks @ardatan, I understand now.

Basically we're doing what Webpack and Rollup are doing as well, i.e. crawl dependencies and parse JavaScript AST to find `require()` statements.

Netlify Functions takes a JavaScript file as input and produce a zip archive as output. That zip archive is meant to be uploaded to AWS Lambda.

We parse JavaScript AST and crawl inside Node dependencies (the code is

[2019-11-04 22:38] ahmedkotb commented on #260
@dotansimha this is still reproing in `graphql-toolkit` 0.6.6 on windows

[2019-11-05 00:11] ardatan commented on #260
https://github.com/ardatan/graphql-toolkit/pull/307
Could you try with the following canary version?
 0.6.6-alpha-fb57c4b.8+fb57c4b

[2019-11-05 06:06] ardatan commented on #308
I see so since it is a Node environment, isn't that using CommonJS to load external modules? In that case, you can load `graphql-tag-pluck` lazily. Otherwise, if we include `graphql-tag-pluck`, bundle size would be increased so much.

[2019-11-05 08:28] inginheiiro commented on #260
`
const replace = require('replace-in-file');
const os = require('os');

if (process.platform == "win32" || process.platform == "win64") {
    const options = {
        files: 'node_modules/@graphql-toolkit/code-file-loader/dist/commonjs/load-from-code-file.js',
        from: ['filePath = eval(`require.resolve(\'${filePath}\')`);', 'const rawExports = await eval(`require(\'${filePath}\');`);'],

[2019-11-05 09:19] ehmicky commented on #308
I am not depending on this project directly: one of my users is (@jon301).

Are you suggesting users should add `require()` statements to fix this problem? This could solve it indeed. Actually it seems like this is [what that specific user is doing](https://github.com/jon301/netlify-issue-67/commit/ae34adcb8cf905daaa9b29fb3fd7cf75db4f38be) as a workaround. @jon301 what do you think?

[2019-11-05 20:36] ardatan commented on #308
@ehmicky Does this canary version work for you?
`0.6.8-alpha-23bbb51.1+23bbb51`

[2019-11-06 10:23] ehmicky commented on #308
Thanks a lot @ardatan for working on this! I am not experiencing this problem myself, this is one of my users. @jon301, does this version work for you?

[2019-11-06 21:15] jon301 commented on #308
I can confirm the version `0.6.8-alpha-23bbb51.1+23bbb51` resolves the initial issue :

[code]

[code]

[code]

Thank you @ehmicky and @ardatan for your help 👍

[2019-11-06 22:04] smeijer commented on #260
For those trying to parse the post above me.

[code]

[code]

But this fix can be so easy, can it not? Just replace every `\` in `filePath` with `/`. As unix systems don't use `\`, and Windows accepts both. Extra benefith is that `/` doesn't need to be escaped.

[2019-11-07 02:30] ardatan commented on #308
Available in 0.6.8 !

[2019-11-07 02:30] #308 closed

[2019-11-09 17:58] veeramarni opened #324 "Unable to extend undefined GraphQL union"
When having `union` type in one schema and `extend union` of same type in a different file, we get the following error.

Schema1
[code]

Schema2

[code]
We use `graphql-code-generator` for generating types and it fails with below error. If we put the `extend union` into the same file as `union`
[code]

[2019-11-09 20:19] veeramarni commented on #324
@ardatan  I have tested with commenting those lines and it works fine. How soon this can be published?

[2019-11-09 21:04] ardatan commented on #324
@veeramarni I will publish it tomorrow :)

[2019-11-12 13:37] ardatan commented on #324
Fixed in 0.7.0!

[2019-11-12 13:37] #324 closed

[2019-11-27 00:29] Kujawadl opened #346 "Validation doesn't work for schemas with extended types"
Our project uses @dotansimha's graphql-code-generator, and encountered a breaking change when upgrading to the latest version. I narrowed it down to a single commit that upgraded this package from 0.5.12 to 0.5.13, and within those commits, I found 51fc38a to be the culprit.

The bug only happens with schemas that use the `extend` keyword (see attached CodeSandbox at the bottom for an example). Ba

[2019-11-27 23:17] jide opened #351 "Error in tests ? - should pluck template literals from gql by default even if not imported from graphql-tag"
I was scanning tests and saw this : https://github.com/ardatan/graphql-toolkit/blob/master/packages/graphql-tag-pluck/tests/graphql-tag-pluck.test.ts#L625

[code]

Shouldn't the test use an import different from `graphql-tag` ?

[2019-11-27 23:22] ardatan commented on #351
We already have tests for other modules.
See;
https://github.com/ardatan/graphql-toolkit/blob/6a1ef103c7e40b65c473e5085adcbee61dc46eb2/packages/graphql-tag-pluck/tests/graphql-tag-pluck.test.ts#L929
Is that what you asked? Or something else because the title has error?

[2019-11-29 05:28] stolinski opened #352 "Error: Cannot find module '@nodelib/fs.stat'"
I'm getting an error when building on http://zeit.co/

[code]

After running `npm ls @nodelib/fs.stat`

I could see that is leads to fast-glob which this library is using

[code]

Anyone else seeing this?

[2019-11-29 05:48] ardatan commented on #352
I think it is an issue related to `@zeit/now`.
See;
https://github.com/zeit/node-file-trace/issues/55
https://github.com/acornjs/acorn-stage3/issues/4

[2019-11-29 19:09] stolinski commented on #352
I'm using it via https://github.com/accounts-js/accounts so not as a direct dep, but something this library is relying on. Hopefully they can get the acorn issue worked out.

[2019-11-29 19:09] #352 closed

[2019-12-03 01:30] jide commented on #351
The test description mentions testing "even if not imported from graphql-tag" although it does not seem to test that. No big deal anyway :)

[2019-12-03 05:18] ardatan commented on #351
GraphQL Tag Pluck exports type definitions not only by looking at `gql` tags. It looks for `gql` tags imported from specific modules.
https://github.com/ardatan/graphql-toolkit/blob/6d1b3021d348144e8f447bdc0eceb0d6ef21b16c/packages/graphql-tag-pluck/src/visitor.ts#L5

[2019-12-03 23:13] jide commented on #351
Yes I understood that, it's just that the test only tests for `import gql from 'graphql-tag'`. But maybe it's on purpose.

[2019-12-08 09:10] bretep commented on #346
Same issue here.

[2019-12-16 17:04] msheakoski opened #370 "Commit 6d99f92 uses globby which breaks file scanning in Next.js apps"
Commit 6d99f92 introduced a change where `glob` was switched to `globby` in [file-scanner.ts](https://github.com/ardatan/graphql-toolkit/commit/6d99f92441c436ecbebc98270bff89b6c82c27d3#diff-dd23da73301e6a7aeb6e42892a935fba). Because [globby skips folders with symbols in it's name](https://github.com/sindresorhus/globby/issues/81), scanning for `gql` fails when it is located inside of files contain

[2019-12-17 16:44] ArnaudBarre opened #373 "Loading documents with Expression interpolation fail"
I try to use a JS constant as a default graphQL variable but it fails (I suppose that the loader expect all interpolations to be fragments injections)

Example:
[code]

Error: `GraphQLError: Syntax Error: Unexpected )`
Stacktrace:
![image](https://user-images.githubusercontent.com/14235743/71015997-cb1ce900-20f4-11ea-9da4-dd4440a3128c.png)

Do you think it will be easy to support that ?
Some of th

[2019-12-18 00:46] ardatan commented on #373
We use [https://github.com/ardatan/graphql-toolkit/tree/master/packages/graphql-tag-pluck](graphql-tag-pluck) without evaluating that value which is needed in your case. It just extracts GraphQL definitions from a code file. `${LIMIT}` is considered invalid because it extracts it like below;
[code]
If we try to support this case, we would need to run the code which can be unwanted side effects bec

[2019-12-18 00:48] ardatan commented on #370
It is related to document loader in core not `file-scanner`. But you're right, this is a bug. We're currently investigating it.

[2019-12-23 17:53] ardatan commented on #346
Available in 0.7.5!

[2019-12-23 17:53] #346 closed

[2019-12-27 23:55] ahrbil opened #385 "Error: "Query" defined in resolvers but not in schema in V0.7.5"
I have a folder with .graphql files and I'm using **loadSchemaFiles** function to load them all and then
**mergeTypeDefs** to merge all the typedefs.
But I'm getting this error:
`Error: "Query" defined in resolvers but not in schema` also **loadSchemaFiles** returns an empty array.
I have tried all the versions between V0.7.5 and 0.4.2 it seems to works only in 0.4.2.

[2019-12-29 22:55] ardatan commented on #385
@ahrbil Could you try with the following version?
`0.7.6-alpha-43bdd2c.10+43bdd2c`

[2019-12-30 14:42] ahrbil commented on #385
@ardatan Yes, I'm.
I just realized that. I have tried running the code on WSL Ubuntu and it works just fine.
I'm still having the same issue on windows even with the version: `0.7.6-alpha-43bdd2c.10+43bdd2c`
here is a simple repo :
[https://github.com/ahrbil/apollo-backpack-typescript](https://github.com/ahrbil/apollo-backpack-typescript).
Also, I'm getting the same error on the deployment server.

[2019-12-30 16:51] ardatan commented on #385
@ahrbil I pushed another fix to respect Windows paths;
`0.7.6-alpha-1852071.8+1852071`
Could you try with this again?

[2019-12-30 17:49] ahrbil commented on #385
@ardatan I couldn't find this version

[2019-12-30 23:40] ardatan commented on #385
@ahrbil
Something looks wrong in NPM. I released another alpha version. You can try with `0.7.6-alpha-5f84046.29+5f84046`

[2019-12-31 09:01] ahrbil commented on #385
@ardatan I'm sorry but I still can't get this version installed.

![image](https://user-images.githubusercontent.com/16563523/71616023-68c3ee00-2bb4-11ea-8d7e-73231a818482.png)

[2019-12-31 09:26] ardatan commented on #385
@ahrbil We have.monorepo packages instead od a single package. We will deprecate that single package. Try using '@graphql-toolkit/file-loading'.

[2019-12-31 10:01] ahrbil commented on #385
@ardatan At first throws an error about unixify package not found after adding it everything works on windows. thanks for your fix.
However, I'm still getting the error when deploying to Zeit now but I think it is related to Zeit and not graphql-toolkit.

[2019-12-31 11:26] ardatan commented on #385
New fix is available in `0.8.0` :)
Maybe Zeit bundles your code instead of keeping the source code structure.

[2019-12-31 20:04] ahrbil commented on #385
Yes exactly.
I need to tell @now/node to include the files.
Everything works now.
Thank you @ardatan.

[2019-12-31 20:04] #385 closed

[2020-01-01 18:03] TAnas0 commented on #352
I am facing the same issue trying to build a minimal Apollo Server deployable on Now.

I am depending on graphql-toolkit because I am using GraphQL Modules. Here is the output of `npm ls @nodelib/fs.stat`:
[code]

I don't know if you are still working on this issue, but I have a reproducible example in here. Use this to get the exact commit: `git checkout de2b99a`

More importantly, is this issue

[2020-01-01 18:49] ardatan commented on #352
@TAnas0 I released 0.7.14 that uses graphql-toolkit monorepos. Could you try it and let me know if the problem persists?

[2020-01-01 22:22] ardatan commented on #351
@jide Oh you're right. Fixed in #390 :) Thank you!

[2020-01-01 22:43] ardatan commented on #370
Fixed in v0.8.1

[2020-01-01 22:43] #370 closed

[2020-01-01 22:43] ardatan commented on #351
Available in v0.8.1! :)

[2020-01-01 22:43] #351 closed

[2020-01-02 17:40] geotry opened #391 "Unable to parse test files with a glob expression"
Since version 1.9.X of graphql-codegen I'm unable to parse my graphql documents located in my test files (ending by `.spec.ts`).

I found in the source code this line causing these files to be ignored:
https://github.com/ardatan/graphql-toolkit/blob/155dcb26ee6ed3f5d80805f2ecaf38354d816317/packages/core/src/load-typedefs.ts#L169

It works if I don't use a glob expression and directly point my file

[2020-01-03 12:07] jide commented on #351
Hehe ;)

[2020-01-03 15:22] ardatan commented on #391
If you use `yarn`, you can try it by using `resolutions` field in package.json to test the fix with the following version?
`1.10.1-alpha-2faa59c0.4+2faa59c0`

[2020-01-03 21:40] geotry commented on #391
I tested using version `0.8.2-alpha-d68e52d.1` of `@graphql-toolkit/core` in `resolutions` (wasn't sure which package you were mentionning), and it worked!
Thank you 👍

[2020-01-05 05:28] lubiikpupiik opened #396 "Property 'fields' does not exist on type 'ScalarTypeDefinitionNode'."
When i log Schema.Type.astNode i see the fields array of the fields on the type, but the fields property isn't included in the type definition. Maybe this is not the right approach, how to get the fields of the type? But i think, when the fields array is in the returned value, it should be in the type definition. ✌️

[2020-01-05 08:55] ardatan commented on #396
@lubiikpupiik Could you elaborate your problem? Which feature/module of graphql-toolkit are you using? What do you need? etc

[2020-01-05 11:21] lubiikpupiik commented on #396
Oh 😄 Sorry. ✌️ its about `@graphql-toolkit/core`. Specifically about `getTypeMap` method in the returned value of `loadSchema` function. Here is the source code:

[code]

Problem is in the fields property (`typeMap.TestType.astNode.fields`), which is not specified in the `ScalarTypeDefinitionNode` type, but it exists in the returned value of `getTypeMap` method (returned type of getTypeMap method

[2020-01-05 11:23] lubiikpupiik commented on #396
@ardatan Oh 😄 Sorry. ✌️ its about `@graphql-toolkit/core`. Specifically about `getTypeMap` method in the returned value of `loadSchema` function. Here is the source code:

[code]

Problem is in the fields property (`typeMap.TestType.astNode.fields`), which is not specified in the `ScalarTypeDefinitionNode` type, but it exists in the returned value of `getTypeMap` method (returned type of getTypeMa

[2020-01-06 07:03] ardatan commented on #396
@lubiikpupiik I think this error is thrown by TS Compiler `Property 'fields' does not exist on type 'ScalarTypeDefinitionNode'.`. So it is correct, a scalar type definition shouldn't have `fields` like most of types other than input, interface and object. We use `GraphQLSchema` from `graphql-js` together with all those `DefinitionNode` typings. You might have seen `fields` in a `ScalarDefinitionNo

[2020-01-06 13:47] #391 closed

[2020-01-06 23:13] piglovesyou opened #399 "Windows seems not to skip loaders properly"
Hi. I'm creating a lib using graphql-toolkit and I found that Windows seems not to skip loaders properly.

Versions:
[code]

## Expected

[This code should work](https://github.com/piglovesyou/graphql-let/blob/5bf66098b824af06134f388d9fdefa0c460d64af/src/lib/create-codegen-opts.ts#L32-L34).

[In Linux, it passes perfectly](https://travis-ci.org/piglovesyou/graphql-let/builds/633513851).

## Actual

[2020-01-07 02:08] ardatan commented on #399
Could you try with this canary version?
`0.9.1-alpha-39a7101.1+39a7101`

[2020-01-07 02:59] piglovesyou commented on #399
@ardatan [I tried it](https://github.com/piglovesyou/graphql-let/blob/use-canary-toolkit/package.json#L21-L24) and [it works!](https://github.com/piglovesyou/graphql-let/runs/376739200#step:4:35) Feel free to close this issue.

[2020-01-07 08:01] ardatan commented on #399
You're welcome! 🙂 Let's keep this open until we release a new version.

[2020-01-08 07:51] lubiikpupiik commented on #396
@ardatan Yeah it seems right. I probably using the package incorrectly. I'll describe more, what i am trying to do. I am creating the package for graphql error handling. For example. I have graphql file, which looks like this:
[code]

And from it. I want to generate something like this:
[code]

And right now, i am not sure what is the proper way to get my types. Like... the ScalarTypeDefinitionNod

[2020-01-12 13:57] #396 closed

[2020-01-16 02:03] ardatan commented on #399
Available in 0.9.1 :)

[2020-01-16 02:03] #399 closed

[2020-01-18 18:08] feelinwavy opened #417 "TypeError: Cannot read property 'data' of null"
Hey there, I ran into a problem when trying to load schema for graphql-codegen using Glob Expression pattern.
I can not get why, but sometimes `let loaded` (`node_modules/@graphql-toolkit/code-file-loader/index.cjs.js`) from line **145** returns **null**

`Failed to load schema from ./src/schema/**/*.ts:

        Cannot read property 'data' of null
        TypeError: Cannot read property 'data' of

[2020-01-19 08:01] #417 closed

[2020-01-20 15:50] esamattis opened #420 "How to pass options to the loaders?"
Sorry about question issue but I don't know where else to ask.

I'd like to use `loadSchema` with the `UrlLoader` but I need to pass in authentication headers.

In an earlier version it was possible to do like this

[code]

But now with loaders I'm not able to figure out how to do it. By looking at the TypeScript types the options go to `loader.load(pointer, options)` but how to pass it to them as

[2020-01-20 15:57] ardatan commented on #420
It should work in the same way;
[code]

[2020-01-20 23:18] #373 closed

[2020-01-21 10:33] esamattis commented on #420
Ah right! My intuition was that the loader configuration would have had to be moved out of the `loadSchema` too with the loaders. Thanks!

[2020-01-21 10:33] #420 closed

[2020-01-21 16:35] wtrocki opened #427 "type instanceof GraphQLObject type is not safe"
Checking `if(type instanceof GraphQLObject)` type is not safe when having multiple packages.

Implementation should use isGraphQLType helpers from graphql schema as they are checking if the types are coming from the same package.

With multiple package structure, it will be possible that type will be created from different graphql-js instance - this will lead to graphql-toolkit failing silently -

[2020-01-26 21:26] alfaproject opened #437 "Unknown directive "deprecated" after updating to v0.9.1+"
I've been getting this error in any new version after 0.9.0. In other words, v0.9.0 is the last version that works for my schema merging needs.

The only method I use from this package is `mergeTypeDefs` so that's the one that stopped working.

Is there anything new that I need to do to support `@deprecated` directive? I wasn't expecting it to break in a patch release. ):

[2020-01-26 22:03] ardatan commented on #437
@alfaproject Could you share a reproduction repo? Thanks!

[2020-01-27 14:21] ardatan commented on #427
Available in latest version!

[2020-01-27 14:21] #427 closed

[2020-02-03 08:56] ardatan commented on #437
I'm closing it now. If the problem persists in the latest version, feel free to open a new issue with a reproduction :)

[2020-02-03 08:56] #437 closed

[2020-02-21 09:35] Fi1osof opened #472 "Unable to merge GraphQL type changed type from '[Type!]' to '[Type!]!'"
It should not prevent change from not-required to required.
From required to not-required - it's not allowed in GraphQL. But from not-required to required - allowed.

Finded here: https://github.com/ardatan/graphql-toolkit/blob/5071524af2d74318085c8f6c1390f96421da1f75/packages/schema-merging/src/typedefs-mergers/fields.ts#L73-L83

[2020-02-24 23:18] mrflip opened #473 "Breaks on React-Native due to dependencies on Node standard library"
The library does not work in my react-native app, because of dependencies on libs that import core Node.js libs -- `path` and `fs`.

[code]

My package.json: https://gist.github.com/mrflip/40ab952f3aa6c49d003e753c5a974441

Is there a straightforward way to patch this?

[2020-02-25 00:13] ardatan commented on #473
@mrflip GraphQL File Loader uses File System API of NodeJS so it is not compatible to Non-Node environments. You can try something like this;
https://www.apollographql.com/docs/react/integrations/webpack/#react-native

[2020-02-25 00:13] #473 closed

[2020-02-25 10:39] vreality64 opened #474 "Empty space before second comment"
Hello. I'm using `merge-graphql-schemas` which uses this schema merge. I checked the auto-generated SDL and found the following issues about comment symbol `#`.

**Source**
[code]

**Merged - empty space after the second line**
[code]

Empty space is look like bug. Is it intended?
https://github.com/ardatan/graphql-toolkit/blob/d2fbf6465fd4cda1e820eb9f1e17d153a9069e8d/packages/schema-merging/src/t

[2020-02-26 16:25] ricokahler opened #476 "Difficult to know what file cause an error inside `loadDocuments`"
Hi there 👋

I'm a maintainer of `gatsby-plugin-ts` and I'm trying to improve the experience of crashes when code gen fails.

Downsteam, [we use `loadDocuments` with doc glob](https://github.com/d4rekanguok/gatsby-typescript/blob/002881e4f2529512d58a4db4a131ce96fc58874f/packages/gatsby-plugin-graphql-codegen/src/graphql-codegen.config.ts#L40-L44) to load nested queries.

If there is an error that o

[2020-02-27 01:57] ardatan commented on #472
@dotansimha @kamilkisiela What do you think?

[2020-03-08 11:14] dotansimha commented on #472
I think this is a valid change, @kamilkisiela it's the same in graphql-inspector, right?

[2020-03-11 09:00] kamilkisiela commented on #472
<img width="1161" alt="Zrzut ekranu 2020-03-11 o 09 53 12" src="https://user-images.githubusercontent.com/8167190/76399418-d9d70d00-637e-11ea-9722-4ec57a2e890a.png">

Inspector says "green" and I agree.

The consumer (client-side app for example) is prepared for nullable values so it accept `null` and `object` so if we remove `null` from responses then nothing happens, it still works.

[2020-03-11 13:30] ardatan commented on #474
We're working on a fix for indentation issue in #483. To have descriptions instead of comments, you can pass `commentDescriptions: false` to the options;
[code]

[2020-03-11 20:04] kamilkisiela commented on #472
#485

[2020-03-13 03:52] vreality64 commented on #474
@ardatan

Glad to hear that. 👍

I tested `commentDescriptions` options, however return is not same type. ([playground](https://runkit.com/vreality64/comparison-commentdescription-options))

**with commentDescription**
[code]

**without commentDescription**
[code]

The reason is below code. However I'm not sure why this happen. In my opinion, it should be same due to option name.
https://github.com

[2020-03-15 14:09] adwd opened #492 "Fails to load document from .ts file using decorator"
Hello, I'm using graphql-codegen for my Angular app. I found Angular component with decorator makes codegen fail.
This error come to happen when I update `@graphql-codegen/cli` to `1.13.0` from `1.9.1` . `1.9.1` depends `@graphql-toolkit/*@0.7.4` .

Below is sample code.

[code]

[code]

[code]

[2020-03-17 08:08] #472 closed

[2020-03-17 09:18] ardatan commented on #474
@vreality64 This is done on purpose, because `comments` are not the part of DocumentNode anymore so we need to return `string`.

[2020-03-17 14:52] ardatan commented on #492
Available in v0.9.8 !!!

[2020-03-17 14:52] #492 closed

[2020-03-17 14:52] ardatan commented on #476
Available in v0.9.8 !!!

[2020-03-17 14:52] #476 closed

[2020-03-17 14:52] ardatan commented on #474
Available in v0.9.8 !!!

[2020-03-17 14:52] #474 closed

[2020-03-17 15:34] adwd commented on #492
Thanks!!!

[2020-03-23 21:42] SimenB opened #509 "Publish new version of `@graphql-toolkit/graphql-tag-pluck`"
It has updated to Babel 7.9, meaning it supports newer TS features like `import type`.

[2020-03-23 22:36] ardatan commented on #509
You can use canary version until we release new version
`@graphql-toolkit/graphql-tag-pluck => 0.9.10-alpha-359bb7b.9+359bb7b`

[2020-03-26 12:27] #509 closed

[2020-03-26 12:27] ardatan commented on #509
Available in 0.9.10!

[2020-03-26 12:29] SimenB commented on #509
thanks!

I needed it via `graphql-code-generator` which locks down dependencies, so I needed to use `resolutions` regardless to avoid syntax errors

[2020-03-26 12:30] ardatan commented on #509
There is another canary version on codegen that uses new graphql-toolkit;
https://github.com/dotansimha/graphql-code-generator/runs/536219017

[2020-03-26 12:38] SimenB commented on #509
👍

[2020-03-28 09:46] talentlessguy opened #523 "Module not found: Can't resolve 'fs' in a Next.js app"
I'm trying to import the schema using this code:

[code]

Whenever I try to import the `schema`, either on client or server side, it throws this:

[code]

Should I tweak webpack config somehow to make it work?

[2020-03-28 11:53] ardatan commented on #523
[code]

You can add this to your webpack configuration to mock `fs`.

[2020-04-07 11:26] loremaps opened #552 "SyntaxError at code-file-loader when .ts contains Angular's @Inject()"
In our codebase, we have `gql` documents alongside Angular components.
We use https://github.com/kamilkisiela/graphql-inspector for checking validation and coverage reports.

It seems that if a component is using [@Inject](https://angular.io/api/core/inject) the following exception occurs:

[code]

For example, the following component causes the issue:
[code]
If we remove the `@Inject(MAT_DIALOG_D

[2020-04-07 12:17] ardatan commented on #552
It seems fixed in 0.10.3
You can see passed tests in here;
https://github.com/ardatan/graphql-toolkit/runs/567484230

I think graphql-toolkit needs to be updated in graphql-inspector.
@kamilkisiela

[2020-04-07 12:44] #552 closed

[2020-04-18 20:20] stephenh opened #568 "schema-merging drops source locations"
I'm writing a graphql-code-generator plugin that wants to know which `*.graphql` file an AST node came from.

However, if I look at the `name` field:

[code]

It is always "GraphQL request", which is the default value:

https://github.com/graphql/graphql-js/blob/master/src/language/source.js#L27

However, if I set a breakpoint in the Source constructor, I can tell that, when the `*.graphql` files

[2020-04-18 20:23] stephenh commented on #568
I.e. here is where everything is getting turned into a string:

https://github.com/ardatan/graphql-toolkit/blob/v0.9.7/packages/schema-merging/src/merge-schemas.ts#L21

I am admittedly a few versions behind, b/c this is what graphql-code-generator 1.12.1 is bringing in. I'll try bumping to that latest release and seeing if the behavior is different.

[2020-04-18 20:34] stephenh commented on #568
Oh wow. I upgraded and it works now. That's great. Thanks!

[2020-04-18 20:34] #568 closed

[2020-04-28 20:54] magicmark opened #582 "Add an 'extractFieldPaths' method to extract the set of fields from a document?"
e.g. given an SDL file and the following query:

[code]

`extractFieldPaths` would return the following:

[code]

You can already do this at runtime inside a graphql server, but I couldn't find anything that lets you statically extract this - so I wrote this!

https://github.com/sharkcore/graphql-document-tools#extractfieldpaths

Is this something the maintainers of graphql-toolkit would be intere

[2020-04-29 12:25] ardatan commented on #582
Of course, that looks awesome!

[2020-04-29 12:26] #523 closed

[2020-04-29 12:26] ardatan commented on #523
Feel free to open a new issue if it persists.

[2020-04-29 14:00] talentlessguy commented on #523
@ardatan sorry for not responding, yes, it now forks perfectly. Here's the config I used for next.config.js:

[code]

[2020-04-29 14:02] ardatan commented on #523
Thank you for your feedback. Your feedback is important for us to know if the issue is relevant :)

[2020-05-05 19:54] ardatan commented on #582
Feel free to submit a PR with this great feature! Closing this issue for now.

[2020-05-05 19:54] #582 closed

[2020-05-17 21:52] danielrearden opened #611 "printSchemaWithDirectives doesn't print all directives"
`printSchemaWithDirectives` only prints a subset of schema directives. The specific issue I ran into was with directives on enum values, but looking at the code it looks like the only targets that are included are objects, input objects, fields and input object fields. It looks like the remaining possible targets (schema definition, scalars, arguments, unions, interfaces, enums and enum values) ar

[2020-05-17 22:07] ardatan commented on #611
Could you share a reproduction?

[2020-05-17 22:27] danielrearden commented on #611
Sorry, I can submit a failing test case or even a PR when I have a bit more time. Here's a reproduction you can run though:

https://runkit.com/danielrearden/5ec1b5f7cb578c001ea95c4c

So it looks like the only missing targets are SCHEMA, ARGUMENT_DEFINITION and ENUM_VALUE. However, it also appears interfaces are dropped altogether.

[2020-05-25 14:17] ardatan commented on #611
Fixed in `@graphql-tools/utils`. See here for migration
https://www.graphql-tools.com/docs/migration-from-toolkit

[2020-05-25 14:17] #611 closed

[2021-04-03 07:24] jjangga0214 commented on #420
@ardatan I think passing header is not uncommon, but docs does not mention that it's possible by [`LoadSchemaOptions`](https://github.com/ardatan/graphql-tools/blob/master/packages/load/src/schema.ts#L7).
What if docs explicitly mention it as an example usage?